<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<!-- LAN -->
		<add key="LAN_USERNAME" value=""/>
		<add key="LAN_HOSTNAME" value=""/>
		<add key="ENDPOINT" value=""/>
		<!-- WAN -->
		<add key="WAN_USERNAME" value=""/>
		<add key="WAN_HOSTNAME" value=""/>
		<add key="CONNECTION_STRING" value=""/>
	</appSettings>
</configuration>