<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--Internal Ports-->
		<add key="InternalPort[0]" value="49070"/>
		<add key="InternalPort[1]" value="49080"/>
		<add key="InternalPort[2]" value="49090"/>
		<!--External Ports-->
		<add key="ExternalPort[0]" value="49070"/>
		<add key="ExternalPort[1]" value="49080"/>
		<add key="ExternalPort[2]" value="49090"/>
		<!-- Certificate-->
		<add key="Certificate" value="C:\\Users\\haendle\\Desktop\\mytls.pfx"/>
		<!-- Downloads -->
		<add key="Path" value="C:\\Users\\haendle\\Desktop\\storage\\"/>
	</appSettings>
	<connectionStrings>
		<!-- SQL Connection -->
		<add name="SqlConnectionString" connectionString="Data Source=HAENDLE-1721;Initial Catalog=neophron_db;Integrated Security=True"/>
	</connectionStrings>
</configuration>