<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="VIEWERS" value="3"/>
		<add key="SSL_CERR" value="C:\Users\haendle\Desktop\mytls.pfx"/>
		<add key="SSL_PORT" value="49159"/>
		<add key="RDP_PORT" value="49158"/>
		<add key="FRAME_INTERVAL" value="32"/>
		<add key="EMAIL_MANAGER" value="haendlle@mail.ru"/>
		<add key="EMAIL_PASSWORD" value=""/>
		<add key="SESSION_PASSWORD" value="123"/>
		<add key="AUTOSTART" value="0"/>
		<add key="CLIPBOARD" value="1"/>
		<add key="FIPS" value="0"/>
	</appSettings>
</configuration>
